<?xml version='1.0' encoding='utf-8'?>
<settings>

	<programName>
		Fractal Drawer
	</programName>
	
	<version>
		Alpha-1.0
	</version>
	
	<defaultFractal>
		<name>Julia Set</name>
	</defaultFractal>
	
	<fractals>
		
		<fractal>
			<name>Julia Set</name>
			<defaultSettings>
				<scale>
					<xMin>-1.0</xMin>
					<xMax>1.0</xMax>
					<yMin>-1.0</yMin>
					<yMax>1.0</yMax>
				</scale>
				<constant>
					<!-- Other nice complex values
					<complex>
						<real>0.35</real>
						<imaginary>-0.5</imaginary>
					</complex>
					<complex>
						<real>-0.7269</real>
						<imaginary>0.1889</imaginary>
					</complex>
					-->
					<complex>
						<real>0.285</real>
						<imaginary>0.01</imaginary>
					</complex>
				</constant>
				<maxIterations>512</maxIterations>
				<escapeValue>2.0</escapeValue>
			</defaultSettings>
		</fractal>
		
		<fractal>
			<name>Mandelbrot Set</name>
			<defaultSettings>
				<scale>
					<xMin>-1.5</xMin>
					<xMax>0.5</xMax>
					<yMin>-1.0</yMin>
					<yMax>1.0</yMax>
				</scale>
				<maxIterations>512</maxIterations>
				<escapeValue>2.0</escapeValue>
			</defaultSettings>
		</fractal>
		
	</fractals>
	
</settings>