<?xml version='1.0' encoding='utf-8'?>
<settings>

	<programName>
		Fractal Drawer
	</programName>
	
	<version>
		Alpha-1.0
	</version>
	
	<fractals>
		
		<fractal>
			<name>Julia Set</name>
			<defaultSettings>
				<constant>
					<complex>
						<real>0.5</real>
						<imaginary>-0.5</imaginary>
					</complex>
				</constant>
				<maxIterations>512</maxIterations>
				<escapeValue>2.0</escapeValue>
			</defaultSettings>
		</fractal>
		
	</fractals>
	
</settings>